@import "bootstrap-sprockets";
@import "bootstrap";



.page-header {
background-color: #ff4501;
color:#ffffff;
width: 100%;
margin-top:0;
padding-top:15px;
padding-bottom:15px;
margin-bottom:10px;
font-size:28px;
font-weight:lighter;
font-family: Gill Sans Extrabold, sans-serif;
text-align:center;

}


.post-wrapper {
  border: 1px solid;
  background-color: #cee3f8
}

.glyphicon {
  font-size: 200%;
}
